<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" 
    integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> Document</title>
</head>
<body>
    <h1> iletisim sayfasi </h1>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark" > 
        <div class="container">
            <a href="/" class="navbar-brand"> Course App </a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Kurslar </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Iletisim </a>
                </li> 
                <li class="nav-item">
                    <a href="/" class="nav-link">Hakkimizda </a>
                </li>  
            </ul>       
        </div>    
    </nav>

    <div class="container"> 
        <div class="row"> 
            <div class="col-3"> 
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Programlama </a>
                    <a href="#" class="list-group-item list-group-item-action">Web Gelistirme </a>
                    <a href="#" class="list-group-item list-group-item-action">Mobil Gelistirme </a>
                </div>    
            </div>
            <div class="col-9 bg-success"> 
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                      <h5 class="card-title">Ana Baslik(iletisim)</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Alt Baslik (iletisim)</h6>
                      <p class="card-text">
                        kart icerigi ile ilgili kisa bilgiler burada yer alir.
                        Lorem ipsum dolor sit amet consectetuer adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                      <a href="#" class="card-link">link 1</a>
                      <a href="#" class="card-link">link 2</a>
                      <a href="#" class="card-link">link 3</a>
                    </div>
                </div> 
                 
            </div>
        </div>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" 
    integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>

